.D_title{
  font-size: 32px;
  font-weight: 600;
  color: black;
}

.root_d{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
}

.fh_foot{
  border: 0;
  height: 100px;
  width: 100%;
  font-size: 48px;
  color: white;
  background-color: #EC7D30;
}