.wl_title{


  font-size: 32px;
  font-weight: 400;

}
.dialog_list{
  overflow: auto;
  height: 553px;
}
.wl_button{
  border: 0;
  background: white;
  color: #E4E4E4;
  width: 100%;
  text-align: left;
  height: 100px;
}