.Nodata{
  width: 100%;

  padding-top: 2.56rem;
}
.Nodata p{
  margin-top: 64px;
  font-size: 32px;
  color: #52C730;
  text-align: center;
}
.Nodata_img{
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 auto;
}
.Nodata_img img{
  width: 100%;
  height: 100%;
  display: block;
}
