.root {
  flex: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.ico_badge{
  position: absolute;
  right: -27px;
  top: -0.05rem;
}
.ico {
  font-size: 0.42rem;
  display: block;
  margin-bottom: 0.1rem;
  height: 0.5rem;
  width: 0.5rem;
  position: relative;
}

.text {
  display: block;
  line-height: 1;
}
