.root {
  background-color: white;
  height: 1rem;
  position: fixed;
  z-index: 50;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  border-top: 1px solid #ccc;
}

.navOne, .navTwo, .navThree, .navFour, .navFive {
  color:rgba(235,96,0,0.8) ;
  &:hover, &:active {
    color:rgba(235,96,0,0.8);
  }
}
.navOne i {
  background: url("../../../images/OrderIcon-or.svg") no-repeat;
}

.navTwo i {
  background: url("../../../images/GrabASingle-or.svg") no-repeat;
}

.navThree i {
  background: url("../../../images/Aftermarket-or.svg") no-repeat;
}

.dd {
  background: url("../../../images/OrderIcon-grey.svg") no-repeat;
  background-size: 100%;
}
.qd {
  background: url("../../../images/GrabASingle-grey.svg") no-repeat;
  background-size: 100%;
}
.sh {
  background: url("../../../images/Aftermarket-grey.svg") no-repeat;
  background-size: 100%;
}