
.orderTitle{
  font-size: 32px;
  text-align: center;
}
.am_card_1 {
  color: rgba(42,187,0,0.8);
}

.am_card_2 {
  color: rgba(255,0,0,0.8);
}
.w4{
  width: 153px;
  white-space: nowrap
}
.sp{
  width: 516px;
  display: inline-block;
}
